body {
  font-family: "Inter", sans-serif;
  font-size: toRem($defaultFontSize);
  line-height: 140%;
  font-weight: 400;
  color: $black_1;
  background-color: $white_1;
  &._lock {
    overflow: hidden;
  }
}


.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  max-width: toPx($widthContainer);
  padding: 0 toPx(5);
  margin: 0 auto;
}