.favorite {
  &__radio-group-title {
    font-size: toRem(20);
    font-weight: 700;
    margin-bottom: toRem(35);
  }
  &__radio-group {
    display: inline-flex;
    column-gap: toRem(90);
    padding: toRem(5);
    margin-bottom: toRem(35);
    border-radius: toRem(7);
    & input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      &:checked+label {
        font-weight: 700;
        &::after {
          background-color: #000000;
        }
      }
    }
    & label {
      position: relative;
      display: inline-flex;
      column-gap: toRem(20);
      align-items: center;
      font-size: toRem(20);
      text-transform: capitalize;
      &::before {
        content: "";
        width: toRem(17);
        height: toRem(17);
        background-color: #000000;
        border-radius: 50%;
      }
      &::after {
        content: "";
        position: absolute;
        width: toRem(13);
        height: toRem(13);
        left: toRem(2);
        background-color: #ffffff;
        border: toRem(3.5) solid #ffffff;
        border-radius: 50%;
        transition: 0.3s;
      }
    }
  }
  &__books {}
}
.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: toPx(1210)) {
    justify-content: center;
    gap: toRem(40);
  }
  &__item {
    position: relative;
    flex: 0 1 toRem(590);
    display: flex;
    flex-direction: column;
  }
  &__text-block {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    max-width: toRem(550);
    padding: toRem(15) toRem(20);
    border: 1px solid $black_0;
    &>*:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }
  &__staff-picks {
    position: relative;
    font-family: 'Forum', sans-serif;
    font-size: toRem(20);
    line-height: 200%;
    letter-spacing: toRem(2);
    text-transform: capitalize;
    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;
      height: toRem(1);
      width: toRem(60);
      background-color: $burlywood_1;
    }
  }
  &__header {
    font-size: toRem(15);
    font-weight: 700;
    line-height: 266.66%;
    letter-spacing: toRem(2);
  }
  &__title {
    text-transform: uppercase;
  }
  &__author {
    text-transform: capitalize;
  }
  &__description {
    flex: 1 0 auto;
    max-width: toRem(355);
    margin-bottom: toRem(15);
    font-size: toRem(15);
    line-height: 266.66%;
    letter-spacing: toRem(2);
    text-transform: capitalize;
  }
  &__button {
    display: inline-block;
    width: toRem(75);
    height: toRem(30);
    font-size: toRem(10);
    font-weight: 700;
    letter-spacing: toRem(1);
    border: toRem(1) solid $black_1;
    border-radius: toRem(2);
    background-color: transparent;
    transition: 0.3s;
    &:hover:not(:disabled) {
      opacity: 0.8;
    }
    &:disabled {
      cursor: default;
      border-color: $burlywood_1;
      color: $burlywood_1;
    }
  }
  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &__img {
    width: toRem(200);
    height: toRem(300);
  }
}