@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/Montserrat-Bold-Italic.eot');
  src: url('../fonts/Montserrat-Bold-Italic.eot') format('embedded-opentype'),
    url('../fonts/Montserrat-Bold-Italic.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold-Italic.woff') format('woff'),
    url('../fonts/Montserrat-Bold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/Montserrat-ExtraBoldItalic.eot');
  src: url('../fonts/Montserrat-ExtraBoldItalic.eot') format('embedded-opentype'),
    url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('../fonts/Montserrat-ExtraLight.eot');
  src: url('../fonts/Montserrat-ExtraLight.eot') format('embedded-opentype'),
    url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
    url('../fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
