@import 'modules/general';
@import 'modules/normalize';
@import 'modules/reset';
@import 'fonts';
@import 'modules/colors';

@import 'modules/base';

@import 'header';
.main {
  &__welcome {}
  &__about {
    padding-top: toRem(20);
    padding-bottom: toRem(40);
  }
  &__favorite {
    padding-top: toRem(20);
  }
}
@import 'welcome';
@import 'about';
@import 'favorite';

@import 'footer';
@import 'popup';